<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST Assured API Automation Suite" verbose="1">
    <test name="API Integration Tests">
        <classes>
            <class name="com.vijaychavan.tests.UserApiTest"/>
            <class name="com.vijaychavan.tests.PostApiTest"/>
            <class name="com.vijaychavan.tests.CommentApiTest"/>
            <class name="com.vijaychavan.tests.NegativeApiTest"/>
        </classes>
    </test>
    <test name="Cucumber BDD Tests">
        <classes>
            <class name="com.vijaychavan.runner.CucumberTestRunner"/>
        </classes>
    </test>
</suite>
